<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"><img style="height:1.8em;" src="https://chronstack.com/assets/chronstack-2d39979fa948664a794ee8f79cfec924d5d85dd5266c7ae29fca1631aaf9a915.jpg"></a>
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="home"><i class="fa fa-home"></i></a>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="login"><i class="fa fa-anchor"></i></a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a (click)="logout()"><i class="fa fa-sign-out"></i></a>
      </li>

    </ul>
  </div>
</nav>