<footer class="page-footer blue pt-4 mt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-sm-6">
        <div class="contact-info-container">
          <div>
            <p>CONTACT CHRONSTACK</p>
            <p>info@resourcestack.com</p>
          </div>
          <p><span>Resource Stack, INC.</span>
                      <br/>626 Grant Street Suite D
                      <br/>Herndon, VA 20170
          </p>
          
        </div>
      
        <div class="footer-copyright text-center py-3">
          <div class="container-fluid">
            © 2017 Copyright: <a href="www.google.com"> Google.com </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--/.Footer-->