  <div class="container text-center">
    <div class="row" style="margin-left: -30px;margin-right: -30px;">
      <div class="col-sm-12">
        <div class="contact-info-container">
          <div class="contact_info">
            CONTACT CHRONSTACK
            info@resourcestack.com
          </div>
          <p><span>Resource Stack, INC.</span>
                      <br/>626 Grant Street Suite D
                      <br/>Herndon, VA 20170
          </p>
          
        </div>
      
        <div class="footer-copyright text-center py-3">
          <div class="container-fluid">
            © 2017 Resource Stack, Inc. All Rights Reserved
          </div>
        </div>
      </div>
    </div>
  </div>
