<div class="approve-reject jumbotron" style ="margin: auto; width: 100%; border: 3px solid #6AA6EE; padding: 10px">
	<div>
		<a routerLink="/time-entry">Enter Timesheet</a>
	</div>

	<div class="row" style="padding:10px;">
        <div class="col-sm-12">

            <h4>Time Sheets Submitted for Approval</h4>
		
			<table class="table">
				<thead>
			  		<tr>
					  	<th> Start Date</th>
					    <th> Employee</th>
					    <th> Hours</th>
					    
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let t of timesheet" (click)="show_row(hideRow)">
						<td>{{t.start}}<br/>
						<span *ngIf="!hideRow">{{t.end}}</span>
						</td>
                    	<td>{{t.employee}}<br/>
                    	<span *ngIf="!hideRow">{{t.project}}</span></td>
                    	<td>{{t.hours}}<br/>
                    	<span *ngIf="!hideRow"><button id= {{t.id}} (click)="approve($event)">Approve</button><button id= {{t.id}} (click)="reject($event)">Reject</button></span>
                    	</td>
                    </tr>        
				</tbody>
			</table>
			
        </div>
    </div>




</div>