<div style="text-align:center">
  <div class="container" style="margin-top: 10px;">

    <div class="row">
      <div class="col">
        
        <h1>Select Project</h1>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Project</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">TimeStack</button>
            <button class="dropdown-item">DentistLink</button>
            <button class="dropdown-item">RepoMan</button>
          </div>

           <h1>Select Task</h1>
           <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Task</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button class="dropdown-item">TimeStack</button>
            <button class="dropdown-item">DentistLink</button>
            <button class="dropdown-item">RepoMan</button>
          </div>

        </div>
      </div>

    <div class = "row">
    	<div class ="col">
    		<h1>Hours</h1>
    		<input type="text" name="hours" >
    	</div>
    </div>

    <div class = "row">
    	<div class ="col">
    		<h1>Vacation</h1>
    		<input type="string" name="vacation">
    	</div>
    </div>

    <div class = "row">
    	<div class ="col">
    		<h1>Description</h1>
    		<input type="string" name="Description" required minlength="4">
    	</div>
    </div>

    <div class="_clearfix"></div>
        <div class="row">
            <div class="col-sm-12">
                <a  class="btn btn-default">Save</a>
                <a  class="btn btn-primary">Submit</a>
            </div>
        </div>
    </div>

</div>
</div>


