<div class="body-wrapper clearfix">
  <section class="fSection">
    <div class="row form-field-wrapper">
      <div class="col-sm-12">


        <form id="newEntryForm" [formGroup]="newEntryForm" autocomplete="off" (ngSubmit)="createEntry()">

            <!--Project_Id-->
            <div class="row">
                <div class="col-sm-12">
                  <label class="label_txt" for="project"> Project<sup>*</sup></label>
                  <input type="text" class="cust_input" formControlName="project"  placeholder="project" required/>
                </div>
            </div>
            <!--Task_Id -->
            <div class="row">
                <div class="col-sm-12">
                  <label class="label_txt" for="tasks"> Tasks<sup>*</sup></label>
                  <input type="text" class="cust_input" formControlName="tasks"  placeholder="tasks" required/>
                </div>
            </div>
             <div class="_clearfix"></div>
            <div class="row">
                <div class="col-sm-12">
                  <label class="label_txt" for="hours"> Hours<sup>*</sup></label>
                  <input type="text" class="cust_input" formControlName="hours"  placeholder="Enter Hours Worked" required/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                  <label class="label_txt" for="vacation"> Vacation Type <sup>*</sup></label>
                  <input type="text" class="cust_input" formControlName="vacation"  placeholder="Enter Vacation Type" required/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                  <label class="label_txt" for="description"> Description<sup>*</sup></label>
                  <input type="text" class="cust_input" formControlName="description"  placeholder="Work notes" required/>
                </div>
            </div>
            
            <div class="_clearfix"></div>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <button type="submit" class="btn cust_btn submit" *ngIf="appointmentAction != 'Edit'">Submit</button>
                    <button type="submit" class="btn cust_btn submit" *ngIf="appointmentAction == 'Edit'">Update</button>
                </div>
            </div>

        </form>
      </div>
    </div>
  </section>
</div>