
body {
   margin: 0;
   padding: 0;
}

h3, h4 {
	text-align: center;
}
h4{
    color: black;
    font-weight: bold;
}
hr {
  border:none;
  border-top:1px dotted #b1b1b1;;
  width:100%;
}
 label {
  font-family: tahoma;
  color: black;
  font-size: 1em;
  font-weight: bold;
  padding: .8em;
 }
button {
    background-color: #2780E3;
    border: none;
    color: white;
    padding: .6em 1.4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 12px;
    opacity: 0.8;
}

select {
  background-color: white;
}
/* for input of dropdowns*/
.cust_input{
    width: 250px;
    padding: 8px 10px;
    font-size: 16px;
    position: relative;
    color: #666;
    border: 1px solid #b1b1b1;
    font-weight: 500;
}


.jumbotron{
  margin: 10px 0px 0px 0px; 
  width: 100%; 
       } /* Manage the height of the first jumbotron*/
       .unit1{
        height: 10em;

        margin: 0 auto;
       }

/* Styling for "today is ..."*/
 .todaydate {
  text-align: center;
  text-shadow: 2px 2px 8px #b1b1b1;
  font-size: 1.3em;
 }
 /* adjust the dropdown box width*/
 #project, #task, #vacation {
  width: 250px;
  text-align: center;
}


.dateselect {
          position: absolute;
          margin: auto;
          }
      .dateselect select{
          width: 200px;
          text-align: center;
          };

/* Validation styling */

.cust_input.ng-invalid{
      border: 1px solid red;
    }
select#project.ng-invalid{
  border: 1px solid red;
}


/* Landscape styling */
@media screen and (orientation:landscape) {
    div .dateselect{
        margin: 0 auto;
        left: 25%;
        }
} 






