<div class="jumbotron">
	  <h3><strong>Simplified </strong>Employee Time Entry and Reporting</h3>
		  <hr>
		  <br>

	<div class="row justify-content-center">	
		<ul>
			<li>
				<button type="button" class="btn btn-secondary" (click)="entryClick();">Enter Time</button>
			</li>
			<li *ngIf="isUserAdmin()">
				<button type="button" class="btn btn-secondary" (click)="approveClick();"> Approval Screen</button>
			</li>
			<li *ngIf="isWeek()">
				<button type="submit" class="btn btn-secondary" (click)="submission();">Submit</button>				
			</li>
		</ul>
</div>
		<ul class="row justify-content-center">
			<li *ngIf="isLogout()"> <p>Welcome, Please Log In</li>
			<li>{{warning}}</li>
		</ul>
</div>
		
		
	
